.arrangewords {
  height: 100vh;
  background: url("../assets/image/bg3.png");
  background-size: cover;
  text-align: center;
  padding: 20px;
}

.arrangewords-header {
  text-align: center;
  color: #333;
  padding-top: 80px;
  margin-bottom: 20px;
}
.arrangewords-question-text {
  font-size: 30px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.arrangewords-image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.arrangewords-image {
  margin: 5px;
  width: 55px;
  height: 55px;
}

.arrangewords-user-arrangement {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.arrangewords-arranged-image {
  margin-left: 125px;
  margin-right: 125px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrangword-arranged-image-img {
  width: 100%;
  height: 100%;
}

.arrangewords-buttons {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  font-size: 16px;
  cursor: pointer;
}
.timer {
  margin-top: 15px;
}
.ukara-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.ukara-popup-button {
  background-color: #c6553b;
  color: white;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.ukara-popup-buttonn:hover {
  background-color: #95a5a6;
}
.ukara-instruction-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
