.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  background: url("../assets/image/bg3.png");
  min-height: 100vh;
  background-size: cover;
  width: 100%;
}

.card-title {
  margin-top: 70px;
}

.card-click-button {
  margin-top: 20px;
  border: none;
  background-color: #c6553b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.card-grid {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.card {
  position: relative;
}

.card-image {
  width: 100%;
  display: block;
  border: 2px solid #c6553b;
  border-radius: 6px;
}

.memory-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.memory-popup-button {
  background-color: #c6553b;
  color: white;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.memory-popup-buttonn:hover {
  background-color: #95a5a6;
}
.memory-instruction-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
